DISCORD_TOKEN=your_discord_bot_token_here
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_TOKEN=notiontokenhere
NOTION_DATABASE_ID=3bb718f43aa84f11a970f73e282eb5e9
REPORT_CHANNEL_ID=your_discord_channel_id
